<a href="https://colab.research.google.com/github/surupi/MachineLearning-IEM2ndYear/blob/main/DecisionTree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Mounting Drive to make dataset available for use

In [ ]:
# import io
# Python io module allows us to manage the file-related input and output operations 
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#Fitting dataset in a dataframe (df)

In [ ]:
import numpy as np
import pandas as pd
df = pd.read_csv ('/content/drive/MyDrive/Colab Notebooks/CSV- DecisionTree.csv')
df.shape
df.columns
df

    Day  WakeUp HaveTalk Weather GoToSchool
0    D1  Normal       No   Sunny         No
1    D2  Normal       No    Rain         No
2    D3   Early       No   Sunny        Yes
3    D4    Late       No   Sunny        Yes
4    D5    Late      Yes   Sunny        Yes
5    D6    Late      Yes    Rain         No
6    D7   Early      Yes    Rain        Yes
7    D8  Normal       No   Sunny         No
8    D9  Normal      Yes   Sunny        Yes
9   D10    Late      Yes   Sunny        Yes
10  D11  Normal      Yes    Rain        Yes
11  D12   Early       No    Rain        Yes
12  D13   Early      Yes   Sunny        Yes

#Processing the dataset for feature encoding to replace text values with numeric values

In [ ]:
from sklearn.preprocessing import LabelEncoder
lblEncoder = LabelEncoder()
encoded_df = df.apply(lblEncoder.fit_transform)
print (encoded_df)

    Day  WakeUp  HaveTalk  Weather  GoToSchool
0     0       2         0        1           0
1     5       2         0        0           0
2     6       0         0        1           1
3     7       1         0        1           1
4     8       1         1        1           1
5     9       1         1        0           0
6    10       0         1        0           1
7    11       2         0        1           0
8    12       2         1        1           1
9     1       1         1        1           1
10    2       2         1        0           1
11    3       0         0        0           1
12    4       0         1        1           1

#Splitting data into training and testing set

In [ ]:
from sklearn.model_selection import train_test_split
predictors = encoded_df.iloc[:,1:4]
target = encoded_df.iloc[:,4]
#df.iloc[<row selection> , <column selection>]
# df.iloc[:,1:3] = is used to select all rows (:) of columns 1 and 2 (1:3)
#print (predictors)
#print (target)
trainX, testX, trainY, testY = train_test_split(predictors, target, test_size =0.1, random_state=100)
print (testX)
print (testY)

    WakeUp  HaveTalk  Weather
10       2         1        0
6        0         1        0
10    1
6     1
Name: GoToSchool, dtype: int64

# Decision tree classifier using training set and and then predict the class for test predictor

In [ ]:
from sklearn.tree import DecisionTreeClassifier
DT_Classifier = DecisionTreeClassifier(criterion = 'entropy', random_state=100, max_depth=4, min_samples_leaf=1)
DT_Classifier.fit(trainX, trainY)
print ("Test set predictions: {}".format(DT_Classifier.predict(testX)))

Test set predictions: [1 0]

#Model evaluation and confusion matrix

In [ ]:
from sklearn.metrics import accuracy_score
accuracy = DT_Classifier.score(testX, testY)
print (accuracy)
from sklearn.metrics import confusion_matrix
predictions = DT_Classifier.predict(testX)
confusion_matrix = confusion_matrix(testY, predictions)
print (confusion_matrix)
# here the model evaluation checks how close the predicted values from DT are to the testY values

0.5
[[0 0]
 [1 1]]